.full-loan {
  margin: 70px 0;
  background: aliceblue;
  border-radius: 5px;
  padding: 25px 10px;
  width: 100%;

  &__details {
    p {
      margin: 0;
    }
    &__title {
      text-align: center;
      padding: 5px;
      margin-bottom: 15px;
    }

    &__body {
      .data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .full-loan {
    margin: 150px 0;
    width: 400px;
  }
}
