.dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  box-shadow: 0 1px 2px 2px map-get($colors, faded-border);
  position: fixed;
  z-index: 5;
  width: 100%;
  background: white;

  &__item {
    font-size: 16px;
    i {
      font-size: 18px;
    }

    &--halo {
      border-radius: 100%;
      border: 2px solid map-get($colors, light-blue);
      padding: 2px;
    }
  }

  &__search {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
  }
}

@media screen and (min-width: 576px) {
  .dash-header {
    height: 70px;
    box-shadow: unset;
    padding: 0 20px;
    border-bottom: 1px solid map-get($colors, faded-border);
    position: unset;
    z-index: unset;
    width: unset;
    background: unset;
  }
}
