.loan-history {
  margin-top: 60px;
  padding: 0 10px;
  overflow-y: scroll;
  margin-bottom: 80px;

  .dash-header {
    &__search {
      padding: unset;
    }
  }

  .user-details-container {
    &__toggle-btn {
      display: none;
    }
  }

  .table-wrapper {
    margin: unset;
    .ant-table-wrapper {
      height: unset;
      overflow-x: scroll;
    }
  }
}

@media screen and (min-width: 576px) {
  .loan-history {
    margin-top: 20px;
    height: calc(100vh - 90px);
    padding: unset;
    margin-bottom: unset;

    &--scrolled-height {
      padding-bottom: 35px;
    }

    .user-details-container {
      display: flex;
      flex-direction: column;
      &__toggle-btn {
        display: flex;
        align-self: flex-end;
        margin-right: 10px;
      }
    }

    .table-wrapper {
      .ant-table {
        &-title {
          margin-left: 15px;
          font-size: 20px;
          font-weight: 600;
          color: map-get($colors, husky-blue);
        }
        &-body {
          height: calc(100vh - 320px);
        }
      }
    }

    .hide-loan-history {
      display: none;
    }
  }
}

@media screen and (min-width: 750px) {
  .loan-history {
    .user-details-container {
      &__toggle-btn {
        display: none;
      }
    }

    .table-wrapper {
      .ant-table {
        &-body {
          height: 38vh;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .loan-history {
    .user-details-container {
      &__toggle-btn {
        display: none;
      }
    }

    .table-wrapper {
      .ant-table {
        &-body {
          height: 38vh;
        }
      }
    }

    .hide-loan-history {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .loan-history {
    .table-wrapper {
      .ant-table {
        &-body {
          height: 40vh;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .loan-history {
    .table-wrapper {
      .ant-table {
        &-body {
          height: 50vh;
        }
      }
    }
  }
}
