.loan-history {
  margin-top: 60px;
  padding: 0 10px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  margin-bottom: 80px;
}

@media screen and (min-width: 576px) {
  .loan-history {
    margin-top: 20px;
    height: unset;
    margin-bottom: unset;
    padding: unset;
  }
}
