.single-loan {
  margin-top: 60px;
  padding: 0 10px;
  overflow-y: scroll;
  margin-bottom: 80px;

  &__details {
    box-shadow: 0 1px 2px 2px #f5f5f5;
    padding: 10px 5px;
    margin: 20px 0;
    border-radius: 4px;

    .card-title {
      color: map-get($colors, husky-blue);
      text-align: center;
      border-bottom: 1px solid map-get($colors, husky-blue);
      margin: 0 -5px 10px;
    }

    .data {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        margin: 0 0 5px;
      }
    }
  }

  .dash-header {
    &__search {
      padding: unset;
    }
  }

  .table-wrapper {
    margin-top: 35px;
  }

  .table-wrapper .ant-table-wrapper {
    height: unset;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 576px) {
  .single-loan {
    height: calc(100vh - 70px);
    padding: unset;
    margin: unset;

    .details-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      padding: 0 10px;
      grid-column-gap: 15px;

      .user-details {
        height: 230px;

        &__info {
          height: 135px;

          &__content {
            overflow-y: scroll;
            height: 100%;
          }
        }
      }
    }

    .table-wrapper .ant-table-body {
      height: 50vh;
    }
  }
}

@media screen and (min-width: 900px) {
  .single-loan {
    .details-wrapper {
      // padding: 0 30%;
    }
  }
}
