.table-wrapper {
  margin-top: 70px;

  .ant-table {
    &-wrapper {
      height: calc(100vh - 205px);
      overflow: scrol;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }

    &-pagination.ant-pagination {
      display: none;
    }
  }
}

.table-wrapper {
  &__table-content {
    .ant-table-title {
      margin-left: 15px;
      font-size: 20px;
      font-weight: 600;
      color: #050580;
    }
  }
}

@media screen and (min-width: 576px) {
  .table-wrapper {
    margin-top: unset;

    .ant-table {
      &-wrapper {
        height: unset;
      }

      &-body {
        height: calc(100vh - 270px);
        overflow-y: scroll;
      }

      &-empty {
        .ant-table-body {
          height: unset;
        }
      }

      &-pagination.ant-pagination {
        margin-right: 20px;
      }
    }
  }
}
