.table-wrapper {
  margin-top: 70px;

  .ant-table-wrapper {
    height: calc(100vh - 205px);
    overflow: scroll;
  }

  // .search-cancel {
  //   height: 28px;
  //   position: absolute;
  //   top: -5px;
  //   right: 2px;
  //   display: flex;
  //   align-items: center;
  //   background-color: map-get($colors, plain-white);
  //   border: 1px solid transparent;
  // }

  // .ant-input-affix-wrapper .ant-input:not(:first-child) {
  //   padding-right: 33px;
  // }

  // .ant-form-inline .ant-form-item {
  //   margin-right: unset;
  // }
}

@media screen and (min-width: 576px) {
  .table-wrapper {
    margin-top: unset;

    .ant-table {
      &-wrapper {
        height: unset;
      }

      &-body {
        height: calc(100vh - 220px);
        overflow-y: scroll;
      }

      &-empty {
        .ant-table-body {
          height: unset;
        }
      }

      &-pagination.ant-pagination {
        margin-right: 20px;
      }
    }
  }
}
