.user-details,
.active-loan {
  box-shadow: 0 1px 2px 2px #f5f5f5;
  padding: 10px;
  margin: 20px 0;
  border-radius: 4px;
  background-image: url('../images/Flat-Mountains.svg');
  background-size: cover;
  background-position: center;
  color: white;

  &__wrapper,
  &__details {
    &__title {
      text-align: center;
      margin-bottom: 15px;
      h3 {
        color: map-get($colors, plain-white);
      }
    }
    &__body {
      display: grid;
      grid-template-columns: 30% auto;
      width: 100%;
      grid-column-gap: 10px;

      .avatar {
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        height: 85px;
        width: 85px;
        border: 1px solid white;

        img {
          object-fit: cover;
          object-position: center;
          height: 80px;
          width: 80px;
          border-radius: 100%;
        }

        &-icon {
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: map-get($colors, albino-blue);

          .ant-avatar-string {
            font-size: 30px;
            text-transform: uppercase;
          }
        }
      }

      .info-div {
        .data {
          margin: 2.5px 0;

          &--name {
            text-transform: capitalize;
          }
        }
      }
    }

    &__footer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        height: 35px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: map-get($colors, plain-white);
        border-radius: 5px;
        outline: none;
        color: map-get($colors, husky-blue);
        font-weight: bold;
      }
    }
  }
}

.active-loan {
  background-image: url('../images/Scattered-Forcefields.svg');
  &__details {
    &__title {
      h3 {
        color: map-get($colors, text-blue);
        font-weight: 800;
      }
    }
    .data {
      margin: 0 0 5px;
      color: map-get($colors, text-blue);
      letter-spacing: 0.2px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .reveal-btn-div {
    margin: 10px 0 0;
    text-align: center;
  }

  &__timeline {
    margin: 15px 0 0;
    padding: 15px 10px 0;
    height: 35vh;
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px solid map-get($colors, albino-blue);
    background-color: map-get($colors, plain-white);
  }
}

@media screen and (min-width: 576px) {
  .user-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-details,
    .active-loan {
      width: 350px;
    }

    &--hide {
      display: none;
    }
  }
}

@media screen and (min-width: 750px) {
  .user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    padding: 0 10px;

    .user-details,
    .active-loan {
      width: unset;
    }
  }

  .active-loan {
    position: relative;
    &__details {
      .content {
        height: 130px;
        overflow-y: scroll;
      }
    }

    &__timeline {
      position: absolute;
      top: 10px;
      height: 170px;
      width: calc(100% - 20px);
      margin: 0;
    }
  }
}

@media screen and (min-width: 800px) {
  .user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 20px;

    .user-details,
    .active-loan {
      margin: 0;
      height: 230px;
      position: relative;

      &__wrapper {
        &__footer {
          margin: unset;
          position: absolute;
          width: calc(100% - 20px);
          bottom: 10px;
        }
      }

      .reveal-btn-div {
        margin: unset;
        position: absolute;
        bottom: 10px;
        width: calc(100% - 20px);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .user-container {
    padding: 0 10% 2rem;
    .user-details,
    .active-loan {
      margin: 10px;
      height: 250px;
      padding: 10px;
      width: 450px;

      &__info {
        height: 135px;

        &__avatar {
          height: 135px;
        }
      }

      .reveal-btn-div {
        bottom: 15px;
      }
    }
  }
}
