.user-details-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
  overflow: scroll;
  padding: 0 15px;

  .close-div {
    position: absolute;
    top: 10px;
    right: 10px;

    .anticon {
      font-size: 30px;
    }
  }

  &__wrapper {
    margin: 55px 0;

    &--gridless {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 600px) {
  .user-details-modal {
    &__wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 10px;
      width: 100%;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 800px) {
  .user-details-modal {
    &__wrapper {
      grid-template-columns: 40% 40%;
      grid-gap: 20px;
    }
  }
}
