.user-details,
.active-loan {
  box-shadow: 0 1px 2px 2px #f5f5f5;
  padding: 10px 5px;
  margin: 20px 0;
  border-radius: 4px;

  &__info {
    display: grid;
    align-items: center;
    grid-template-columns: 35% auto;
    grid-column-gap: 10px;
    margin-bottom: 20px;

    &__avatar {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
      }
    }

    &__content {
      .data {
        margin: 0 0 2px;
        color: map-get($colors, text-blue);
      }
    }
  }

  &__btns-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid map-get($colors, faded-border);
    padding: 10px 0;

    .btn {
      height: 35px;
      width: 120px;
      border-radius: 4px;

      i {
        font-size: 14px;
        margin-right: 10px;
      }

      &--calls {
        background: map-get($colors, call-green);
        border: 1px solid map-get($colors, call-green);
        color: map-get($colors, plain-white);
      }

      &--sms {
        background: map-get($colors, albino-blue);
        border: 1px solid map-get($colors, albino-blue);
        color: map-get($colors, plain-white);
      }
    }
  }
}

.active-loan {
  &__details {
    .data {
      margin: 0 0 5px;
      color: map-get($colors, text-blue);
      letter-spacing: 0.2px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .reveal-btn-div {
    margin: 20px 0;
    text-align: center;
  }

  &__timeline {
    margin: 15px 0 0;
    padding: 15px 10px 0;
    height: 35vh;
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px solid map-get($colors, albino-blue);
  }
}

@media screen and (min-width: 576px) {
  #user-container {
    padding: 0 10px;

    .user-details {
      &__info {
        &__avatar {
          // height: 115px;
          // img {
          //   height: 115px;
          // }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  #user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 2rem;

    .user-details,
    .active-loan {
      height: 230px;
      margin: 0;
    }
  }
}
